<div class="main__wrapper">
	<section class="section section__main" id="sect_main">
		<div class="main__sidebar">
			<span class="decoration_timeline anime-items anime-one anime_scale_y anime-one">
				<span></span>
				<span></span>
			</span>
			<div class="main__socicons">
				<div class="main__socicons__item tool right" data-tool="Telegram">
					<svg>
						<use href="img/stack/icons/icons.svg#bxl-telegram"></use>
					</svg>
				</div>
				<div class="main__socicons__item tool right" data-tool="VK">
					<svg>
						<use href="img/stack/icons/icons.svg#bxl-vk"></use>
					</svg>
				</div>
				<div class="main__socicons__item tool right" data-tool="WhatsApp">
					<svg>
						<use href="img/stack/icons/icons.svg#bxl-whatsapp"></use>
					</svg>
				</div>
				<div class="main__socicons__item tool right" data-tool="Phone">
					<svg>
						<use href="img/stack/icons/icons.svg#bxs-phone"></use>
					</svg>
				</div>
			</div>
		</div>
		<div class="main__content">
			<h3 class="subtitle subtitle__v1 anime-items anime-one anime_scale_x">Hello, I’m</h3>
			<h2 class="title">Anna Doe</h2>
			<h3 class="subtitle subtitle__v2">FRONTEND-DEVELOPER</h3>
			<div class="main__content__btn_container anime-items anime-one anime_scale_y">
				<button class="btn btn__v1">VIEW CV</button>
				<button class="btn btn__v2">ABOUT ME</button>
			</div>
			<div class="main__content__img">
				<img src="img/perfil.png" alt="main img">
			</div>
		</div>
		<div class="main__tool">
			<svg>
				<use href="img/stack/icons/icons.svg#bx-mouse"></use>
			</svg>
		</div>
	</section>
	<section class="section section__about" id="sect_about">
		<h2 class="title section__title">about me</h2>
		<h3 class="subtitle subtitle__v2 section__subtitle">MY INTRO</h3>
		<div class="about section__content">
			<div class="about__wrapper">
				<div class="about__img">
					<img src="img/about.jpg" alt="about">
				</div>
				<div class="about__content">
					<div class="about__content__head">
						<div class="item">
							<svg class="item__icon">
								<use href="img/stack/icons/icons.svg#bxs-bomb"></use>
							</svg>
							<h2 class="subtitle item__title">Experience</h2>
							<h3 class="item__subtitle">8 Years Working</h3>
						</div>
						<div class="item">
							<svg class="item__icon">
								<use href="img/stack/icons/icons.svg#bxs-briefcase-alt-2"></use>
							</svg>
							<h2 class="subtitle item__title">Completed</h2>
							<h3 class="item__subtitle">48+ Projects</h3>
						</div>
						<div class="item">
							<svg class="item__icon">
								<use href="img/stack/icons/icons.svg#bx-message-alt-check"></use>
							</svg>
							<h2 class="subtitle item__title">Communication</h2>
							<h3 class="item__subtitle">Online 24/7</h3>
						</div>
					</div>
					<div class="about__content__body">
						<p class="text text__v1">
							Frontend developer, I create web pages with UI / UX user interface, 
							I have years of experience and many clients are happy 
							with the projects carried out.
						</p>	
						<div class="btn__container anime-items anime-one anime_scale_y">
							<button class="btn btn__v2">CONTACT ME</button>
							<button class="btn btn__v1">REQUEST A CALL</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section__experience" id="sect_experience">
		<h2 class="title section__title">My Experience</h2>
		<h3 class="subtitle subtitle__v2 section__subtitle">MY ABILITIES</h3>
		<div class="experience section__content">
			<div class="experience__wrapper">
				<div class="experience__items">
					<h2 class="subtitle experience__item anime-items anime-one anime_opacity">HTML & CSS</h2>
					<h2 class="subtitle experience__item anime-items anime-one anime_opacity anime-delay-200">JAVASCRIPT</h2>
					<h2 class="subtitle experience__item anime-items anime-one anime_opacity anime-delay-400">SCSS & GULP</h2>
					<h2 class="subtitle experience__item anime-items anime-one anime_opacity anime-delay-600">FIGMA</h2>
				</div>
				<button class="btn btn__v2 anime-items anime-one anime_scale_y">VIEW FAQ</button>
			</div>
		</div>
	</section>
	<section class="section section__services" id="sect_services">
		<h2 class="title section__title">My Services</h2>
		<h3 class="subtitle subtitle__v2 section__subtitle">WHAT AM I DOING</h3>
		<div class="services">
			<div class="services__items">
				<div class="services__item">
					<h2 class="subtitle">Small Sites Completely</h2>
					<div class="read_more anime-items anime-one anime_opacity">
						<span>Read More</span>
						<svg class="item__icon">
							<use href="img/stack/icons/icons.svg#arrow_right"></use>
						</svg>
					</div>
				</div>
				<div class="services__item">
					<h2 class="subtitle">Small Sites Completely</h2>
					<div class="read_more anime-items anime-one anime_opacity">
						<span>Read More</span>
						<svg class="item__icon">
							<use href="img/stack/icons/icons.svg#arrow_right"></use>
						</svg>
					</div>
				</div>
				<div class="services__item">
					<h2 class="subtitle">Small Sites Completely</h2>
					<div class="read_more anime-items anime-one anime_opacity">
						<span>Read More</span>
						<svg class="item__icon">
							<use href="img/stack/icons/icons.svg#arrow_right"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section__portfolio" id="sect_portfolio">
		<h2 class="title section__title">portfolio</h2>
		<h3 class="subtitle subtitle__v2 section__subtitle">MY INTRO</h3>
		<div class="portfolio filter__wrapper">
			<div class="filter">
				<div class="filter__el _active" data-filter="filter__item">
					all
				</div>
				<div class="filter__el" data-filter="_f_complete">
					COMPLETE
				</div>
				<div class="filter__el" data-filter="_f_webdesign">
					WEB-DESIGN
				</div>
				<div class="filter__el" data-filter="_f_programming">
					PROGRAMMING
				</div>
			</div>
			<div class="filter__items">
				<div class="filter__item _f_complete">
					<div class="filter__item__img">
						<img src="img/project1.png" alt="">
					</div>
					<div class="filter__item__content">
						<h2 class="subtitle">Complete Website Portfolio</h2>
					</div>
				</div>
				<div class="filter__item _f_complete">
					<div class="filter__item__img">
						<img src="img/project2.png" alt="">
					</div>
					<div class="filter__item__content">
						<h2 class="subtitle">Complete Website Portfolio</h2>
					</div>
				</div>
				<div class="filter__item _f_webdesign">
					<div class="filter__item__img">
						<img src="img/project3.png" alt="">
					</div>
					<div class="filter__item__content">
						<h2 class="subtitle">Complete Website Portfolio</h2>
					</div>
				</div>
				<div class="filter__item _f_programming">
					<div class="filter__item__img">
						<img src="img/project4.png" alt="">
					</div>
					<div class="filter__item__content">
						<h2 class="subtitle">Complete Website Portfolio</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section__reviews" id="sect_reviews">
		<h2 class="title section__title">My Reviews</h2>
		<h3 class="subtitle subtitle__v2 section__subtitle">MY CLIENTS SAY</h3>
		<div class="reviews__slider__container">
			<div class="swiper reviews_slider">
				<div class="swiper-pagination"></div>
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="reviews__item">
							<div class="reviews__item__part">
								<div class="reviews__item__head">
									<img src="img/testimonial1.png" alt="">
									<h2 class="subtitle">John Doe</h2>
								</div>
								<div class="reviews__item__content">
									<p class="text text__v2">A really good job, all aspects of the project were followed step by step and with good results.</p>
								</div>
							</div>
							<div class="reviews__item__part">
								<div class="reviews__item__head">
									<img src="img/testimonial1.png" alt="">
									<h2 class="subtitle">John Doe</h2>
								</div>
								<div class="reviews__item__content">
									<p class="text text__v2">A really good job, all aspects of the project were followed step by step and with good results.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="reviews__item">
							<div class="reviews__item__part">
								<div class="reviews__item__head">
									<img src="img/testimonial1.png" alt="">
									<h2 class="subtitle">John Doe</h2>
								</div>
								<div class="reviews__item__content">
									<p class="text text__v2">A really good job, all aspects of the project were followed step by step and with good results.</p>
								</div>
							</div>
							<div class="reviews__item__part">
								<div class="reviews__item__head">
									<img src="img/testimonial1.png" alt="">
									<h2 class="subtitle">John Doe</h2>
								</div>
								<div class="reviews__item__content">
									<p class="text text__v2">A really good job, all aspects of the project were followed step by step and with good results.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="reviews__item">
							<div class="reviews__item__part">
								<div class="reviews__item__head">
									<img src="img/testimonial1.png" alt="">
									<h2 class="subtitle">John Doe</h2>
								</div>
								<div class="reviews__item__content">
									<p class="text text__v2">A really good job, all aspects of the project were followed step by step and with good results.</p>
								</div>
							</div>
							<div class="reviews__item__part">
								<div class="reviews__item__head">
									<img src="img/testimonial1.png" alt="">
									<h2 class="subtitle">John Doe</h2>
								</div>
								<div class="reviews__item__content">
									<p class="text text__v2">A really good job, all aspects of the project were followed step by step and with good results.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<section class="section section__contacts" id="sect_contacts">
		<h2 class="title section__title">Contacts</h2>
		<div class="contacts">
			<div class="contact">
				<div class="contact__icon">
					<svg>
						<use href="img/stack/icons/icons.svg#whatsapp"></use>
					</svg>
				</div>
				<h2 class="subtitle contact__name anime-items anime-one anime_opacity">WhatsApp</h2>
				<div class="contact__info">+79011149375</div>
				<a href="#" class="contact__link">
					<span>Write me</span>
					<svg>
						<use href="img/stack/icons/icons.svg#arrow_right"></use>
					</svg>
				</a>
			</div>
			<div class="contact">
				<div class="contact__icon">
					<svg>
						<use href="img/stack/icons/icons.svg#big-telegram"></use>
					</svg>
				</div>
				<h2 class="subtitle contact__name anime-items anime-one anime_opacity">Telegram</h2>
				<div class="contact__info">@hohskiller</div>
				<a href="#" class="contact__link">
					<span>Write me</span>
					<svg>
						<use href="img/stack/icons/icons.svg#arrow_right"></use>
					</svg>
				</a>
			</div>
			<div class="contact">
				<div class="contact__icon">
					<svg>
						<use href="img/stack/icons/icons.svg#bxs-phone-outgoing"></use>
					</svg>
				</div>
				<h2 class="subtitle contact__name anime-items anime-one anime_opacity">Request a call</h2>
				<a href="#" class="contact__link">
					<span>Request</span>
					<svg>
						<use href="img/stack/icons/icons.svg#arrow_right"></use>
					</svg>
				</a>
			</div>
		</div>
	</section>
</div>